<section id="about">

    <h2 class="section-title">About Me</h2>

    <div class="about">

        <p>
            Hello! I'm Tanzil, a Civil Engineering student
            passionate about learning engineering, design
            and modern construction technology.
        </p>

        <p>
            I am developing my skills in AutoCAD, technical
            drawing, surveying and 3D modeling through
            practical projects and continuous learning.
        </p>

        <p>
            This portfolio represents my learning journey,
            projects and future work in Civil Engineering.
        </p>

    </div>

</section>
